.FormLogin {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 70vh;/* Garante que o formulário esteja centralizado na tela toda */
    border: 2px red solid;
    font-size: 1.5rem;
    padding: 2rem;
}

.h1Form{
    font-size:3rem;
    font-weight: 600;
    padding: 2rem;
    justify-content: center;
    border: 2px rgb(47, 255, 0) solid;
}

.InputForm {
    width: 95%;
    padding: 5px;
    margin: 0.5rem;
    border-radius: 10px;
    border-style: none;
    background-color: azure;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.411);
    font-size: 1.5rem; /* Ajusta o tamanho da fonte */
    height: auto;    /* Para permitir que a altura seja ajustada automaticamente */
}

.formButton{
    font-size: 2rem;
    padding: 2rem;
    
}
