/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/componentes/Botao/botao.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/


.botao_Botao__eRuQ2 {
    border-radius: 9999px; /* rounded-full */
    border: solid 1px transparent; /* border-solid e border-transparent */
    display: flex;
    align-items: center; /* items-center */
    background-color:rgb(10, 124, 2); /* bg-foreground */
    color: var(--background); /* text-background */
    font-size: 1rem; /* text-sm */
    
    /* Ajustes responsivos */
    height: 2.5rem; /* h-10 */
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem;
    margin-bottom: 1rem;

    /* Estilos para telas maiores */
    @media (min-width: 640px) {
        font-size: 2rem; /* sm:text-base */
        height: 3rem; /* sm:h-12 */
        padding-left: 3rem; /* sm:px-12 */
        padding-right: 3rem;
    }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/componentes/Formulario/formulario.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.formulario_FormLogin__7qzMk {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 70vh;/* Garante que o formulário esteja centralizado na tela toda */
    border: 2px red solid;
    font-size: 1.5rem;
    padding: 2rem;
}

.formulario_h1Form__PkxIK{
    font-size:3rem;
    font-weight: 600;
    padding: 2rem;
    justify-content: center;
    border: 2px rgb(47, 255, 0) solid;
}

.formulario_InputForm__RzE7g {
    width: 95%;
    padding: 5px;
    margin: 0.5rem;
    border-radius: 10px;
    border-style: none;
    background-color: azure;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.411);
    font-size: 1.5rem; /* Ajusta o tamanho da fonte */
    height: auto;    /* Para permitir que a altura seja ajustada automaticamente */
}

.formulario_formButton__uTsXT{
    font-size: 2rem;
    padding: 2rem;
    
}

