

.Botao {
    border-radius: 9999px; /* rounded-full */
    border: solid 1px transparent; /* border-solid e border-transparent */
    display: flex;
    align-items: center; /* items-center */
    background-color:rgb(10, 124, 2); /* bg-foreground */
    color: var(--background); /* text-background */
    font-size: 1rem; /* text-sm */
    
    /* Ajustes responsivos */
    height: 2.5rem; /* h-10 */
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem;
    margin-bottom: 1rem;

    /* Estilos para telas maiores */
    @media (min-width: 640px) {
        font-size: 2rem; /* sm:text-base */
        height: 3rem; /* sm:h-12 */
        padding-left: 3rem; /* sm:px-12 */
        padding-right: 3rem;
    }
}
